<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 


<main>
  <h1><%= title %></h1>
    <table>
      <thead>
        <tr>
          <th>Airline</th>
          <th>Airport</th>
          <th>Flight Number</th>
          <th>Departs</th>
        </tr>
      </thead>
      <tbody>
        <% flights.forEach(flight => { %>
          <tr>
            <td><a href="/flights/<%= flight._id %>"><%= flight.airline %></td></a>
            <td><%= flight.airport %></td>
            <td><%= flight.flightNo %></td>
            <td><%= flight.departs %></td>
            <td>
              <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST">
                <button>X</button>
              </form>
            </td>
          </tr>
        <% }) %> 
      </tbody>
    </table>
</main>

  <%- include('../partials/footer') %> 