<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 

<main>
  <h1>Flight Details</h1>
  <h3>Flight #<%= flight._id %></h3>
  <section>
    <p>Airline: <%= flight.airline %></p>
    <p>Airport: <%= flight.airport %></p>
    <p>Flight No.: <%= flight.flightNo %></p>
    <p>Departs: <%= flight.departs %></p>
    <a href="/flights/<%= flight._id %>/edit">
    <button>Edit Flight Details</button></a>
  </section>
</main>




<%- include('../partials/footer') %> 
